Package: firewall-sosdg
Version: 0.9.14-1
Section: net
Priority: optional
Architecture: any
Essential: no
Depends: iptables (>= 1.2.7), iproute, ${shlibs:Depends}
Pre-Depends: bash (>= 3.0) | dash
Suggests: conntrack, iptstate, fail2ban, dnsmasq
Maintainer: Brielle Bruns <bruns@2mbit.com>
Conflicts: ipkungfu
Provides: firewall
Description: iptables based Linux firewall
	Firewall/SOSDG is a Linux Netfilter firewall designed
	to be simple and effective. Features include NAT support,
	port forwarding, basic routing/forwarding of packets, and
	ipv6 firewalling support. 
